.ms-popup-is-right {
    justify-content: flex-end;
    height: 100%;
    right: 0;
    left: auto;
    width: auto;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.con-ms-popup {
    transition: all 0.2s;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 100px;
    top: 100px;
    left: 0;
    top: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    z-index: 200;
}

.ms-popup--background {
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 98;
    transition: all 0.25s ease;
    opacity: 1;
}
.ms-popup-content {
    position: relative;
    border-radius: 4px;
}
.ms-popup-is-right {
    justify-content: flex-end;
    height: 100%;
    right: 0;
    left: auto;
    width: auto;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.ms-popup {
    position: relative;
    transition: all 0.2s;
    z-index: 200;
    max-width: calc(100% - 30px);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    background: #fff;
}

.ms-popup-is-right .ms-popup--header {
    border-radius: 4px 0 0 0;
}
.ms-popup--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: 4px 4px 0 0;
    position: relative;
}

.ms-popup--title.ms-popup-title-right {
    padding: var(--popup-right__title-padding);
}

.ms-popup--title {
    width: 100%;
    padding: var(--popup-right__title-padding);
    padding-right: 12px;
    position: relative;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}

.title-popup {
    color: #111;
    font-weight: 700;
}

.ms-popup-close {
    display: flex;
    padding: 12px;
    column-gap: 7px;
}

.mr-6-px {
    margin-right: 6px;
}
.mi {
    cursor: pointer;
}

.mi-close {
    background-position: -144px -144px;
}
.mi-help {
    background-position: -89px -144px;
}
.mi-24 {
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}

.setting_UI .ms-popup--content.ms-popup-content-right {
    padding: 0 16px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    min-width: 0;
}

.show-layout-info {
    font-size: 13px;
    color: #0075c0;
    cursor: pointer;
    text-align: right;
}

.setting_UI .ms-popup--content.ms-popup-content-right {
    overflow: auto;
}
.popup-util {
    padding: 0 16px;
    width: 100%;
    justify-content: space-between;
    margin: 4px 0 8px;
}

.input-focus-container {
    overflow: hidden;
    height: 0;
    width: 0;
    position: absolute;
}
.dynamic-table {
    flex: 1;
}

.table-scroll {
    overflow: auto;
    margin-top: 0;
}
.table-scroll {
    min-width: 100%;
}
.table-scroll table {
    min-width: 100%;
    margin: auto;
    border-spacing: 0;
    border-collapse: separate;
}

.table-scroll thead tr:first-child th.check-multiple-columns {
    position: -webkit-sticky;
    position: sticky;
    max-width: 32px;
    width: 32px;
    min-width: 32px;
    z-index: 25;
    border-left: none;
}

.table-scroll thead tr:first-child th {
    background: var(--grid-header-background-color);
    top: 0;
    z-index: 20;
    position: relative;
}
.table-scroll td:first-child,
.table-scroll th:first-child {
    border-left: 0 !important;
}
.table-scroll thead tr th {
    z-index: 1;
}
.table-scroll thead tr th,
.table-scroll thead tr th span {
    text-transform: var(--grid-header-text-transform);
}
.table-scroll thead th {
    border-left: 1px solid var(--grid-header-border-left-color);
    border-bottom: 1px solid var(--tab__border-color);
    font-size: 12px;
    text-align: left;
}
td.check-multiple-columns,
th.check-multiple-columns {
    left: 0 !important;
}
.table-scroll td,
.table-scroll thead th,
.table-scroll th {
    border-left: none !important;
}

.layout-setting-btn {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.dis-contents tr,
.ms-table--thead tr {
    height: 28px;
}

.table-scroll th {
    background-color: #fff;
    padding: 0 10px;
    border-bottom: 1px solid var(--grid-header-border-bottom-color);
    min-height: var(--grid-header-height);
    height: var(--grid-header-height);
    border-left: 1px dotted var(--grid-header-border-left-color);
}
.drag-col-th {
    z-index: 4;
}
.drag-col {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0;
    z-index: 3;
}
td,
th {
    padding: 0 10px;
}

.table-scroll table {
    min-width: 100%;
    margin: auto;
    border-spacing: 0;
    border-collapse: separate;
}

.content-height-100-percent {
    height: 100% !important;
}

.table-scroll td:first-child,
.table-scroll th:first-child {
    border-left: 0 !important;
}
.table-scroll tr td {
    background-color: #fff;
    padding: 0 10px;
    border-bottom: 1px solid #c7c7c7;
    height: var(--grid-body-line-height);
    position: relative;
    border-left: 1px dotted var(--grid-header-border-left-color);
}

.show-more-btn {
    font-size: 13px;
    color: #0075c0;
    cursor: pointer;
    text-align: right;
}
.drag-col {
    position: -webkit-sticky !important;
    position: sticky !important;
    left: 0;
    z-index: 3;
}

.border-color {
    border: 0 solid #c7c7c7 !important;
}

.setting_UI .ms-popup--content {
    transition: all 0.23s ease 0.1s;
    flex-direction: column;
    display: flex;
    overflow: auto;
    overflow-y: visible;
    padding: 0 16px 10px;
}

.ms-popup-is-right .ms-popup-footer {
    border-bottom-left-radius: 4px;
}

.ms-popup-footer {
    width: 100%;
    background: #fff;
}

.is-full-screen-true {
    transform: rotateY(180deg);
}

.is-full-screen-false {
    transform: rotateY(0deg);
}

.resize {
    width: 12px;
    height: 50px;
    background: #fff;
    border: 1px solid #d4d7dc;
    border-radius: 8px;
    position: absolute;
    align-items: center;
    left: -6px;
    top: 43%;
    z-index: 99;
}

.resize {
    resize: both !important;
}

.editable:first-child {
    flex: 1;
}
.editable {
    position: relative;
    min-height: 28px;
    display: flex;
    align-items: center;
    width: 100%;
}

.td-text {
    display: flex;
    white-space: pre-wrap;
    flex: 1;
}

.line-clamp-1 {
    -webkit-line-clamp: 1;
}
.cell-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}
.ms-con-textarea {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.ms-con-textarea .text-area--validate {
    flex: 1;
}
.ms-con-textarea .grid-editor {
    padding: 3px 10px;
    line-height: 20px;
    overflow: hidden;
}

.ms-con-textarea .ms-textarea {
    resize: none;
    border-radius: 3px;
    border: 1px solid #babec5;
    font-family: inherit;
    display: block;
    color: #000;
    font-size: 13px;
    width: 100%;
    height: 100%;
    outline: none;
}
