.sidebar {
    height: 100%;
    width: var(--sidebar-size);
    background-color: #393a3d;
}

/*begin header */
.sidebar__header {
    display: flex;
    align-items: center;
    width: 100%;
    height: var(--header-size);
    column-gap: 16px;
    padding-left: 16px;
}

.sidebar__header-menu {
    flex-shrink: 0;
}

.sidebar__header-menu-img {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -428px -92px;
    width: 16px;
    height: 16px;
}

.sidebar__header-logo {
    height: 36px;
}

/* end header */

/* begin main */

.quick-add-voucher .quick-add-btn {
    display: flex;
    border-radius: 30px;
    border: 2px solid #d4d7dc;
    padding: 5px 15px;
    width: fit-content;
    width: -moz-fit-content;
    align-items: center;
}

.quick-add-voucher {
    display: flex;
    justify-content: center;
    margin: 8px 0 13px;
}

.quick-add-voucher .quick-add-btn .add-icon {
    display: flex;
}

.quick-add-voucher .quick-add-btn .add-icon .add-line {
    height: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    position: relative;
}

.quick-add-voucher .quick-add-btn .quick-add-label {
    font-weight: 600;
    color: #d4d7dc;
    margin-left: 8px;
    line-height: 14px;
}

.quick-add-voucher .quick-add-btn .add-icon .add-line:before {
    content: "";
    height: 10px;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    transform: rotate(90deg);
    position: absolute;
    top: -2px;
    left: -1px;
}
.sidebar__list {
    height: calc(100% - var(--header-size));
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    overflow-y: auto;
}

.sidebar__item {
    width: 100%;
    height: 38px;
    display: flex;
    border-radius: var(--border-radius);
    align-items: center;
    column-gap: 12px;
    padding: 10px 12px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar__item:hover {
    background: hsla(0, 0%, 100%, 0.2);
}

.sidebar__item-icon {
    flex-shrink: 0;
}

.sidebar__item-text {
    font-weight: 500;
    font-size: 1.3rem;
    color: #fff;
}

.sidebar__item:hover .sidebar__item-text {
    color: var(--white-color);
}

/* end main */
