/* wrap lại các icon */
.wrap-icon {
    width: 24px;
    height: 24px;
    min-height: 24px;
    min-width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* all icon sidebar */

/* icon default */
.mi {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat;
    cursor: pointer;
}

.icon__arrow {
    background: url("../../assets/img/Sprites.64af8f61.svg") -178px -364px;
    width: 12px;
    height: 8px;
}

.icon-overview-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -33px -1630px;
    width: 18px;
    height: 20px;
}

.icon-cash-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -78px -1631px;
    width: 14px;
    height: 18px;
    /* transform: scale(1.4, 1.1); */
}

.icon-cashBank-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -121px -1633px;
    width: 16px;
    height: 16px;
}

.icon-buy-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -165px -1632px;
    width: 16px;
    height: 18px;
}

.icon-sell-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -206px -1631px;
    width: 20px;
    height: 18px;
}

.icon-invoice-managemnet-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -254px -1632px;
    width: 14px;
    height: 17px;
}

.icon-store-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -294px -1632px;
    width: 18px;
    height: 17px;
}

.icon-tool-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -339px -1633px;
    width: 18px;
    height: 17px;
}

.icon-assets-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -382px -1632px;
    width: 17px;
    height: 18px;
}

.icon-tax-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -427px -1634px;
    width: 16px;
    height: 16px;
}
.icon-cost-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -471px -1633px;
    width: 17px;
    height: 17px;
}

.icon-general-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -514px -1632px;
    width: 16px;
    height: 18px;
}

.icon-budget-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -382px -1664px;
    width: 16px;
    height: 16px;
}

.icon-report-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -552px -1636px;
    width: 14px;
    height: 13px;
}

.icon-financial-default {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -207px -1667px;
    width: 17px;
    height: 14px;
}

/* icon hover */

.icon-overview-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -33px -1587px;
    width: 18px;
    height: 20px;
}

.icon-cash-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -78px -1588px;
    width: 14px;
    height: 18px;
    /* transform: scale(1.4, 1.1); */
}

.icon-cashBank-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -121px -1590px;
    width: 16px;
    height: 16px;
}

.icon-buy-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -165px -1589px;
    width: 16px;
    height: 18px;
}

.icon-sell-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -206px -1588px;
    width: 20px;
    height: 18px;
}

.icon-invoice-managemnet-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -254px -1589px;
    width: 14px;
    height: 17px;
}

.icon-store-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -294px -1589px;
    width: 18px;
    height: 17px;
}

.icon-tool-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -339px -1590px;
    width: 18px;
    height: 17px;
}

.icon-assets-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -382px -1589px;
    width: 17px;
    height: 18px;
}

.icon-tax-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -427px -1591px;
    width: 16px;
    height: 16px;
}
.icon-cost-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -471px -1590px;
    width: 17px;
    height: 17px;
}

.icon-general-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat-514px -1590px;
    width: 15px;
    height: 16px;
}

.icon-budget-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -427px -1664px;
    width: 16px;
    height: 16px;
}

.icon-report-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -552px -1593px;
    width: 14px;
    height: 13px;
}

.icon-financial-hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -251px -1667px;
    width: 17px;
    height: 14px;
}

/* icon arrow */
.icon-arrow {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -1129px -365px;
    width: 14px;
    height: 8px;
}

/* icon dropdown */

.input__icon-dropdown {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -564px -365px;
    width: 8px;
    height: 5px;
    display: inline-block;
}

.icon-dropdown {
    margin-bottom: 2px;
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -900px -365px;
    width: 8px;
    height: 5px;
}

/* icon search */
.input__icon-search {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -992px -360px;
    width: 16px;
    height: 16px;
}

/* icon question */
.form__header-icon-question {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -732px -31px;
    width: 22px;
    height: 22px;
    cursor: pointer;
}

/* icon close */
.icon-close {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -147px -147px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.icon__close-toast {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -1178px -362px;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

/* toast icon warning */
/* .toast__icon-warning {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat no-repeat -817px -145px;
    width: 22px;
    height: 23px;
    transform: scale(0.91);
} */

/* toast icon success */

/* .toast__icon-success {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat no-repeat -1602px -258px;
    width: 20px;
    height: 20px;
} */

/* toast icon  */
.toast__icon-success,
.toast__icon-warning,
.toast__icon-close,
.toast__icon-info {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon__setting {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -33px -143px;
    width: 23px;
    height: 26px;
    opacity: 0.5;
}

.icon__setting_cash_detail {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -33px -143px;
    width: 23px;
    height: 26px;
}

.icon__setting:hover {
    opacity: 1;
}

/* .toast__icon-success {
    background-image: url("../../assets/img/success.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
} */

/* dialog icon error */
.dialog__icon-error {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -752px -462px;
    width: 36px;
    height: 36px;
    padding: 0 17px;
}

/* dialog thông báo */
.dialog__icon-notify {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -832px -462px;
    width: 36px;
    height: 36px;
}

/* dialog icon error */
.dialog__icon-warning {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -598px -463px;
    width: 36px;
    height: 37px;
    padding: 0 19px;
}

/* icon export */
.content__main-exprort-icon {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -705px -202px;
    width: 23px;
    height: 20px;
}

.content__main-exprort-icon:hover {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -705px -258px;
    width: 23px;
    height: 20px;
}

.icon__combox-btn {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -852px -365px;
    width: 8px;
    height: 5px;
}

.mi-close--small {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -84px -316px;
    width: 8px;
    height: 8px;
    cursor: pointer;
}

.mi-drag-grid {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -419px -363px;
    width: 10px;
    height: 10px;
}

.mi-chevron-left {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -36px -361px;
    width: 8px;
    height: 14px;
}

/* Cash */
.customerCash {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -876px -202px;
    width: 16px;
    height: 20px;
}

.providerCash {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -930px -202px;
    width: 20px;
    height: 20px;
}

.employeeCash {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -986px -202px;
    width: 20px;
    height: 20px;
}

.optionCash {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -650px -201px;
    width: 20px;
    height: 22px;
}
/* account systerm */
.accountSystem {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -1378px -257px;
    width: 21px;
    height: 22px;
}

.mi-tree-expand--small {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -608px -312px;
    width: 15px;
    height: 15px;
}

.mi-tree-collapse--small {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -560px -312px;
    width: 15px;
    height: 15px;
}

.mi-arrow-right--black {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -371px -364px;
    width: 10px;
    height: 8px;
}

.mi-arrow-check-all {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -259px -147px;
    width: 18px;
    height: 18px;
}

.mi-arrow-dropdown {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -564px -365px;
    width: 8px;
    height: 5px;
}

.recent-log-btn {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -648px -145px;
    width: 24px;
    height: 23px;
}

.mi-tour {
    background: url("../../assets/img/Sprites.64af8f61.svg") -984px -145px;
    width: 23px;
    height: 22px;
}
