/* .input__icon {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -1041px -89px;
    width: 22px;
    height: 22px;
} */

.input__wrapper {
    width: 200px;
    height: 26px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    border-radius: var(--border-radius);
    border: 1px solid var(--boder-primary);
    position: relative;
}

.input__wrapper.dropdown:focus {
    border: 1px solid red;
}

.input__type {
    height: 100%;
    flex: 1;
    outline: none;
    border: 1px solid var(--boder-primary);
    padding: 10px 5px 10px 10px;
    border-radius: var(--border-radius);
}

.input__type::placeholder {
    font-size: 1.3rem;
    font-weight: 400;
    color: #9e9e9e;
}

.input__type:focus {
    border: 1px solid #50b83c;
}

.input__icon {
    height: 100%;
    color: #666666;
    display: flex;
    align-items: center;
    padding: 8px 8px;
    cursor: pointer;
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.input__icon.search {
    background-color: transparent !important;
}

.input__icon:active {
    background-color: #ebebeb;
}

/* input default */
.input-default {
    padding: 0 12px 0 10px;
    height: 26px;
}

/* input search */
.input__search {
    width: calc(200px - 36px);
    border: none;
}

.input__search::placeholder {
    font-style: italic;
}

.input__search:focus {
    border: none;
}

.input__wrapper:hover .input__icon {
    background-color: #e0e0e0;
}

.input__icon:active + .input__type {
    background-color: var(--white-color);
    border-radius: 0;
}

/* input error */
.invalid-error {
    border: 1px solid #e61d1d !important;
}

.kindNumber {
    text-align: right;
}

.kindNumber::placeholder{
    font-style: italic;

}
