.content__main-paging {
    width: 100%;
    min-height: 56px;
    padding: 0 16px;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 3;
}

.content__main-paging-left {
    color: #212121;
    font-weight: 400;
    font-size: 1.4rem;
}

.content__main-paging-right {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.paging__record {
    width: 100%;
    height: 36px;
}

.paging__record-footer {
    display: flex;
    align-items: center;
    column-gap: 16px;
    width: 80%;
}

.paging__record-footer-iconRight {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -84px -361px;
    width: 8px;
    height: 14px;
}

.paging__record-footer-iconLeft {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -36px -361px;
    width: 8px;
    height: 14px;
}

.btn-icon:hover {
    background-color: rgb(216, 216, 190);
}

.pagination {
    display: flex;
    align-items: center;
    list-style: none;
    column-gap: 5px;
}

.page-item.active .page-link {
    border: 1px solid #ccc;
    font-weight: 700;
}

.pagination .page-link {
    text-decoration: none;
    cursor: pointer;
    padding: 2px 7px;
}

.page-item.disabled {
    pointer-events: none;
    opacity: 0.5;
}
