.popup {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.popup__form {
    background-color: #ffffff;
    width: 900px;
    border-radius: var(--border-radius);
    box-shadow: 0 4px 16px rgba(23, 27, 42, 0.24);
}

/* header */
.popup__form-wrapper {
    padding: 24px 24px 0 24px;
}

.popup__form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__header-left {
    display: flex;
    align-items: center;
}

.form__header-left h2 {
    color: #212121;
    font-size: 2.4rem;
    font-weight: 700;
}

.form__header-left-check {
    display: flex;
    align-items: center;
    padding: 0 19px;
    column-gap: 8px;
}

.form__header-input-check {
    width: 24px;
    height: 24px;
}

.form__header-check-text {
    font-weight: 400;
    cursor: pointer;
}

.form__header-right {
    display: flex;
    align-items: center;
    column-gap: 6px;
}

/* info */
.popup__form-body {
    margin-top: 24px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.popup__form-body-info {
    display: flex;
    column-gap: 24px;
}

.popup__form-body-left {
    height: 100%;
    flex: 1;
}

.popup__form-body-row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.form__group-first {
    width: 156px;
}

.form__group-second {
    flex: 1;
}

.form__group-input {
    width: 100%;
}

.form__label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.4rem;
    color: #1f1f1fc4;
    font-weight: 600;
    cursor: pointer;
}
.popup__form-body-right {
    height: 100%;
    flex: 1;
}

/* contact */

.popup__form-body-contact {
    width: 100%;
    margin: 48px 0;
}

.form__group-contact-second {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.form__group-contact-input {
    width: 200px;
}

/* footer */

.popup__form-footer {
    display: flex;
    align-items: center;
    border-radius: 0 0 4px 4px;
    justify-content: space-between;
    padding: 12px 24px;
    background-color: #f5f5f5;
}
.popup__form-footer-right {
    display: flex;
    align-items: center;
    column-gap: 16px;
}
