.popup__form-checkbox {
    column-gap: 0;
}

.input__radio-wrapper {
    height: 26px;
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.input_radio_label {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.input__radio {
    position: absolute;
    left: 0;
    opacity: 0;
    width: 20px;
    z-index: 1;
    cursor: pointer;
}

.ms__radio {
    width: 18px;
    height: 18px;
    display: block;
    border-radius: 50%;
    position: relative;
}

.ms__radio-border {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: var(--white-color);
    display: block;
    border: 1px solid #afafaf;
}

.ms__radio-circle {
    width: 10px;
    height: 10px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.ms__radio-circle:focus {
    background-color: var(--color-primary);
    outline: none;
    border: none;
}

.input_radio_label .input__radio:checked + .ms__radio > .ms__radio-circle {
    background-color: var(--color-primary);
}

.ms__radio-label {
    margin-left: 8px;

    cursor: pointer;
}
