.content__main-table {
    width: 100%;
    flex: 1;
}

.employee {
    width: 100%;
    border-collapse: collapse;
}

.employee .table__field {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    z-index: 3;
    height: var(--size-row);
}

.employee tr td {
    padding: 0 10px;

    border-bottom: 1px solid var(--boder-primary);
}

.employee tr td:not(:last-child):not(:nth-last-child(2)):not(:first-child) {
    border-right: 1px dotted var(--boder-primary);
}

.employee tr th {
    padding: 0 10px;
    border-bottom: 1px solid var(--boder-primary);
}

.employee tr th:not(:last-child):not(:nth-last-child(2))::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    right: 0;
    top: 0;
    border-right: 1px solid var(--boder-primary);
}

.employee .table__field th {
    border-bottom: 0;
}

.employee .table__field::after {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 4;
    top: calc(var(--size-row) - 1px);
    background-color: var(--boder-primary);
}

.employee tr {
    height: var(--size-row);
}

.employee th {
    background-color: #e5e8ec;
    font-weight: 600;
    font-size: 1.3rem;
    color: #000000;
    cursor: all-scroll;
    position: relative;
}

.employee thead tr th:last-child,
.employee tbody tr td:last-child {
    border-right: 0;
}

.employee tbody tr td:first-child .wrap-icon,
.employee thead tr th:first-child .wrap-icon {
    margin: 0 auto;
}
/* 
.employee thead tr th:nth-child(3),
.employee tbody tr td:nth-child(3), 
.employee thead tr th:nth-child(2),
.employee tbody tr td:nth-child(2),*/
.employee thead tr th:first-child,
.employee tbody tr td:first-child {
    position: sticky;
    bottom: 0;
    z-index: 2;
    border-right: 0;
}

.employee thead tr th:first-child,
.employee tbody tr td:first-child {
    left: 0;
}

/* .employee thead tr th:nth-child(2),
.employee tbody tr td:nth-child(2) {
    left: var(--size-column-first);
} */

/* .employee thead tr th:nth-child(3),
.employee tbody tr td:nth-child(3) {
    left: var(--size-column-total);
} */

/* .employee tbody tr td:nth-child(3)::after,
.employee tbody tr td:nth-child(2)::after, */
.employee tbody tr td:first-child::after {
    content: "";
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 4;
    border-right: 1px dotted var(--boder-primary);
}

/* .employee thead tr th:first-child::after {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    background-color: var(--boder-primary);
} */
/* 
.employee thead tr th:nth-child(3),
.employee thead tr th:nth-child(2), */
.employee thead tr th:first-child {
    background-color: #e5e8ec;
}
/* 
.employee tbody tr td:nth-child(3),
.employee tbody tr td:nth-child(2), */
.employee tbody tr td:first-child {
    background-color: #ffff;
}

.employee thead tr th:last-child,
.employee tbody tr td:last-child {
    position: sticky;
    top: 0;
    right: -1px;
    z-index: 2;
}

/* .employee thead tr th:last-child {
    background-color: #eeeeee;
} */

.employee tbody tr td:last-child::after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    border-right: 1px dotted var(--boder-primary);
}

.employee thead tr th:last-child::after {
    content: "";
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    border-right: 1px solid var(--boder-primary);
}

.employee tbody tr td:last-child {
    background-color: #ffff;
}

.employee thead tr th:nth-child(11),
.employee tbody tr td:nth-child(11) {
    border-right: 0;
}

.employee tbody tr td:nth-child(11) {
    line-height: 2rem;
}

.employee tr:hover td:nth-child(2),
.employee tr:hover td:nth-child(3),
.employee tr:hover td:last-child,
.employee tr:hover td:first-child,
.employee tr:hover {
    background-color: #e5f3ff;
}

.tr-hover {
    background-color: #e5f3ff !important;
}

.employee__checkbox {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.icon-head {
    height: fit-content;
    position: absolute;
    right: 3px;
    top: calc(50% - 8px);
    visibility: hidden;
    cursor: pointer;
}

.employee tr th:hover .icon-head {
    visibility: visible;
}

.mi-header-option {
    background: url("../../assets/img/Sprites.64af8f61.svg") no-repeat -1688px -565px;
    width: 14px;
    height: 14px;
}

/* .dropdown-fun {
    display: inline-flex;
    align-items: center;
    justify-content: center;
} */

/* icon chức năng */
.input__icon-box {
    padding: 5px 5px;
    cursor: pointer;
    border: 1px solid transparent;
    display: inline-block;
    position: relative;
    transform: translateY(6px);
}

.input__icon-box:active {
    border: 1px solid #ccc;
}

.table__accountSysterm thead tr th:nth-child(6),
.table__accountSysterm tbody tr td:nth-child(6),
.table__accountSysterm thead tr th:nth-child(3),
.table__accountSysterm tbody tr td:nth-child(3),
.table__accountSysterm thead tr th:nth-child(1),
.table__accountSysterm tbody tr td:nth-child(1) {
    min-width: 150px;
}

.table__accountSysterm thead tr th:nth-child(4),
.table__accountSysterm tbody tr td:nth-child(4),
.table__accountSysterm thead tr th:nth-child(2),
.table__accountSysterm tbody tr td:nth-child(2) {
    min-width: 250px;
}

.table__accountSysterm thead tr th:nth-child(5),
.table__accountSysterm tbody tr td:nth-child(5) {
    min-width: 350px;
}

.table__accountSysterm thead tr th:nth-child(7),
.table__accountSysterm tbody tr td:nth-child(7) {
    min-width: 100px;
}
