.tooltip-error,
.tooltip {
    position: relative;
    font-family: notosans, sans-serif;
}

.tooltiptext {
    visibility: hidden;
    width: max-content;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 12px 16px;
    position: absolute;
    z-index: 99;
    top: 114%;
    left: 50%;
    transform: translateX(-50%);
    height: 26px;
    display: flex;
    align-items: center;
}

.tooltipData {
    visibility: hidden;
    width: max-content;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 12px 16px;
    position: absolute;
    z-index: 99;
    transform: translateX(-50%);
    top: 150%;
    left: 50%;
    height: 26px;
    display: flex;
    align-items: center;
}

.tooltipData.tooltopTop {
    top: -100%;
}

.tooltiptextHide {
    visibility: hidden;
    width: max-content;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 12px 16px;
    position: absolute;
    z-index: 99;
    transform: translateX(-50%);
    height: 26px;
    display: flex;
    align-items: center;
}
.tooltipData,
.tooltiptext {
    background-color: var(--bg-tooltip);
    color: var(--white-color);
    text-transform: initial;
    line-height: 26px;
}

.tooltiptextHide {
    background-color: var(--bg-tooltip);
    color: var(--white-color);
    text-transform: initial;
    line-height: 26px;
}

.tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg-tooltip) transparent;
}

.tooltipData::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg-tooltip) transparent;
}

.tooltipData.tooltopTop::after {
    display: none;
}

.tooltiptextHide::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg-tooltip) transparent;
}

.tooltiptext-error {
    visibility: hidden;
    width: max-content;
    text-align: center;
    border-radius: var(--border-radius);
    line-height: 26px;
    padding: 0 16px;
    position: absolute;
    z-index: 5;
    top: 114%;

    left: 50%;
    transform: translateX(-50%);
    box-shadow: 2px 2px 2px 0 #d4d7dc;
}

.tooltiptext-error {
    background-color: var(--bg-tooltip);
    color: var(--white-color);
    text-transform: initial;
}

.tooltiptext-error::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent var(--bg-tooltip) transparent;
}

.tooltip:hover .tooltipData,
.tooltip:hover .tooltiptext {
    --bg-tooltip: #505050;
    visibility: visible;
    font-weight: 500;
}

.tooltip:hover .tooltiptextHide {
    --bg-tooltip: #505050;
    visibility: visible;
    font-weight: 500;
}

.tooltip-error:hover .tooltiptext-error {
    visibility: visible;
}

.tooltip-error {
    --bg-tooltip: #ff7777;
}

.tooltipData.account {
    visibility: hidden;
    width: -moz-max-content;
    width: max-content;
    text-align: center;
    border-radius: var(--border-radius);
    padding: 12px 16px;
    position: absolute;
    z-index: 100;
    transform: translateX(-50%);
    top: -130%;
    left: 50%;
    height: 26px;
    display: flex;
    align-items: center;
}

.tooltipData.account::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: var(--bg-tooltip) transparent transparent transparent;
}
