.cash__container {
    width: 100%;
    height: calc(100% - var(--header-size));
    background-color: #eeeff1;
    padding: 10px 20px 0 20px;
}

.nav__list {
    display: flex;
    align-items: center;
    list-style: none;
    border-bottom: 1px solid #ccc;
    height: var(--tab__router-height);
}

.nav__link {
    width: 100%;
    cursor: pointer;
    color: #111;
    text-decoration: none;
    padding: 4px 20px;
    cursor: pointer;
}

.nav__link.active {
    background: #f2ebbf;
    font-weight: 700;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.16);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #f2ebbf;
    border-bottom: 4px solid var(--color-primary);
}

.nav__item {
    color: var(--color-primary);
}

.nav__link {
    color: #111;
}

/* main */
.cash__body {
    height: calc(100vh - 102px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cash__main {
    width: 50%;
    /* height: calc(100% - 30%); */
    display: flex;
    align-items: center;
    column-gap: var(--column-gap);
    border-radius: var(--border-radius);
}

.cash__process {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: var(--column-gap);
}

.cash__report-title,
.cash__process-title {
    text-transform: uppercase;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
}

.cash__process-main {
    width: 100%;
    height: 100%;
    position: relative;
}

.cash__process-top {
    width: 100%;
    height: 83%;
    background-color: var(--white-color);
}

.cash__process-bottom {
    width: 100%;
    height: 17%;
    background-color: var(--white-color);
}

.cash__process-bottom-list {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cash__process-bottom-item {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease;
    list-style: none;
    cursor: pointer;
    text-decoration: none;
}

.cash__process-bottom-item:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}

.cash__process-bottom-item + .cash__process-bottom-item {
    border-left: 1px solid #e5e5e5;
}

.cash__process-bottom-text {
    color: #111;
    margin-top: 5px;
    text-align: center;
}

.cash__report {
    width: 30%;
    height: 100%;
    background-color: var(--white-color);
}

.icon__cash {
    width: 90px;
    padding-top: 65px;
    position: absolute;
    transition: all 0.2s ease;
    text-align: center;
    text-decoration: none;
}

.icon__cash:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.receive {
    top: 52px;
    left: 97px;
}

.payment {
    top: 240px;
    left: 97px;
}

.audit {
    top: 145px;
    left: 359px;
    width: 125px !important;
}
