:root {
    /* color primary */
    --color-primary: #2ca01c;
    --white-color: #ffffff;

    /* color required */
    --color-red: #e61d1d;
    --color-red-active: #911a05;

    --color-blue: #1565c0;
    --color-blue-active: #08458a;

    /* border color primary */
    --boder-primary: #babec5;

    /* button color */
    --btn-color-primary-hover: #5dc748;
    --btn-color-primary-press: #118044;
    --btn-opa-primary-disable: 56%;

    --btn-color-link: #0075c0;

    /* coloum gap */
    --column-gap: 12px;

    /* size */
    --sidebar-size: 200px;
    --header-size: 48px;
    --border-radius: 2px;

    /* độ rộng cột thứ nhất, thứ 2 */
    --size-column-first: 40px;
    --size-column-second: 160px;
    --size-column-total: calc(
        var(--size-column-first) + var(--size-column-second)
    );

    --size-row: 30px;

    /* bg tooltip để thay đổi khi thông báo lỗi hoặc thông báo */
    --bg-tooltip: #505050;

    /* icon light */
    --i-normal-light: #666666;
    --i-hover-focus-light: #1fb6ff;
    --i-op-disable-light: 50%;

    /* icon dark */
    --i-normal-dark: #7b8798;
    --i-hover-focus-dark: #ffff;
    --i-disable-dark: #4b5b73;

    --popup-right__title-padding: 16px 16px 12px 16px;
    --grid-header-background-color: #e5e8ec;
    --grid-body__line-hover-background-color: #f2f9ff;
    --grid-header-text-transform: none;
    --tab__border-color: #d4d7dc;
    --grid-header-border-left-color: #c7c7c7;
    --grid-header-border-bottom-color: #d4d7dc;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* mặc định của html là 100%. nên con nó dùng 1rem = 16px => cần chuyển về 1rem = 10px  */
    font-size: 62.5%;
}

@font-face {
    font-family: notosans;
    src: url(../assets/fonts/notosans-regular.2cb88a13.woff2);
}

body {
    font-family: notosans, sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
}

/* css chung */

/* heading title */
.heading {
    font-size: 2.4rem;
    font-weight: 700;
    color: #1111;
}

/* scroll customize */

button {
    outline: none;
    border: 0;
}
.scrollbar_customize::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #f1f1f1;
}

.scrollbar_customize::-webkit-scrollbar-thumb {
    background-color: #b8bcc3;
}

/* text align- center */
.text-align-center {
    text-align: center;
}

/* text align- left */
.text-align-left {
    text-align: left;
}

/* text align- center */
.text-align-right {
    text-align: right;
}

/* flex css */
.m-flex {
    display: flex;
}

.flex {
    display: flex !important;
}

.m-flex-col-gap-8 {
    column-gap: 8px;
}

.block-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.align-center {
    justify-content: center;
    align-items: center;
}

.w-5\/6 {
    width: 83.33333% !important;
}
/* required */
.error-info,
.required {
    color: var(--color-red);
}

.input-required {
    border-color: var(--color-red) !important;
}

/* .m-row */
.m-row + .m-row {
    margin-top: 15px;
}

/* w-50% */
.w-50 {
    width: 50%;
}

.ml-16 {
    margin-left: 16px;
}

.ml-8 {
    margin-left: 8px;
}

/* show element */
.d-block {
    display: block;
}

/* show element dạng flex */
.d-flex {
    display: flex;
}

/* ẩn */
.d-none {
    display: none;
}

.w-1\/2 {
    width: 50% !important;
}

/* quay 180 deg */
.rorate-180 {
    transform: rotate(180deg);
    transition: all 0.25s ease;
}

/* quay 90 deg */
.rorate-90 {
    transform: rotate(90deg);
    transition: all 0.25s ease;
}

/*  */
.border-focus {
    border: 1px solid #50b83c !important;
    outline: none;
}

.border-focus-white {
    border: 1px solid #fff !important;
    outline: none;
}

.outline-focus {
    outline: 1px solid #50b83c !important;
}

/* show giữa */
.show-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

input#email,
input[type="text"],
input[type="date"] {
    font-family: notosans, sans-serif;
}

input[type="date"]::placeholder {
    font-style: italic;
}

/* disabled div */
div.disabled {
    pointer-events: none;
    opacity: 0.5;
    background: #ccc;
}

.cursor-pointer {
    cursor: pointer;
}

.mi-48 {
    width: 48px;
    height: 48px;
    min-width: 48px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pr-4 {
    padding-right: 4px !important;
}

.w-full {
    width: 100% !important;
}
.pb-4 {
    padding-bottom: 1rem !important;
}

.w-full {
    width: 100% !important;
}
.flex-1 {
    flex: 1 1 0% !important;
}
.items-center {
    align-items: center !important;
}
.flex {
    display: flex !important;
}

.row-input {
    padding-bottom: 15px;
}

.p-r-12 {
    padding-right: 12px;
}

.w-1\/2 {
    width: 50% !important;
}
.opacity {
    opacity: 0.5;
}
.ms-con-dropdown {
    pointer-events: none;
}
.mi-arrow-up--black {
    background-position: -560px -359px;
}
.mi-16 {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.min-w40 {
    min-width: 40px;
}

.min-w160 {
    min-width: 160px;
}

.min-w250 {
    min-width: 250px;
}

.min-w350 {
    min-width: 350px;
}
.min-w120 {
    min-width: 120px;
}

.min-w100 {
    min-width: 100px;
}

.min-w200 {
    min-width: 200px;
}
