@import url(./components/icon.css);
@import url(./components/dropdown.css);
@import url(./base.css);

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.wrapper {
    width: calc(100% - var(--sidebar-size));
    height: 100vh;
    display: flex;
    flex-direction: column;
}
